
button{
    min-width: 130px;

    border: 1px solid #999999;
    border-radius: 22px;

    background-color: #2D333B;

    padding: 10px;
    margin-right: 12px;

    font-size: 18px;
    font-weight: 400;
    line-height: 15.53px;
    color: #ffffff;

}

button:hover {
    background-color: #FAFAFA40;
    cursor: pointer;
}